extends ../layouts/navbar

block content
    h1= `Quiz Report for Attempt #${aid}`

    a.btn.btn-secondary.mb-2(href=`${backurl}`)= backname

    .container-fluid.p-0
        .row
            .col
                table.table.table-bordered
                    tbody
                        tr
                            th(scope='row') Submission ID
                            td= aid
                        tr
                            th(scope='row') Quiz Name
                            td= qinfo.name
                        tr
                            th(scope='row') Course
                            td= `[${qinfo.code}] ${qinfo.coursename}`
                        tr
                            th(scope='row') Started Date
                            td= info.attemptdate
                        tr
                            th(scope='row') Submitted Date
                            td= info.submitteddate
                        tr
                            th(scope='row') Marked Date
                            td= info.markeddate
                        tr
                            th(scope='row') Score
                            if qinfo.showGrade
                                td= `${info.score} of ${qinfo.totalscore}`
                            else
                                td Grades are hidden
        .row.mt-2
            .col
                unless qinfo.showReport
                    span Report disabled
                else
                    table.table.table-bordered
                        thead
                            tr
                                th(scope="col") #
                                th(scope="col") Question
                                th(scope="col") Score
                        tbody
                            each qn, i in data
                                tr
                                    th= i+1
                                    td
                                        case qn.type
                                            when 1
                                                div !{qn.question}
                                                .card
                                                    .card-header(data-toggle="collapse", data-target=`#collapse-${i}`, aria-expanded=true, aria-controls=`collapse-${i}`) Your Answer
                                                    .collapse(id=`collapse-${i}`, aria-labelledBy=`collapse-${i}`)
                                                        .card-body.test
                                                            table.table-bordered.table-bordered.align-content-center.text-center.mt-2
                                                                thead
                                                                    tr
                                                                        th(scope="col") Answer
                                                                        th(scope="col") Correct
                                                                        th(scope="col") Rationale
                                                                tbody
                                                                    if qn.choice.length>1  
                                                                        - let count = 0
                                                                        for choice of qn.mcqAnswer
                                                                            tr
                                                                            td !{choice}
                                                                            if qn.mcqCorrect[count]===1
                                                                                td
                                                                                    i.fa.fa-check.text-success.mcq-result-icon
                                                                            else 
                                                                                td
                                                                                    i.fa.fa-times.text-danger.mcq-result-icon

                                                                            td= qn.mcqRationale[count]
                                                                            -count++
                                                                    else if qn.choice.length === 1  
                                                                        td !{qn.choice} 
                                                                        if qn.mcqCorrect === 1
                                                                            td 
                                                                                i.fa.fa-check.text-success.mcq-result-icon
                                                                        else 
                                                                            td 
                                                                                i.fa.fa-times.text-danger.mcq-result-icon
                                                                        td !{qn.mcqRationale}     
                                                                    else  
                                                                        td No answers submitted
                                                                        td -
                                                                        td N/A                                                                   
                                                                        
                                            when 2
                                                div !{qn.question}
                                                .card
                                                    .card-header(data-toggle="collapse", data-target=`#collapse-${i}`, aria-expanded=true, aria-controls=`collapse-${i}`) Your Answer
                                                    .collapse(id=`collapse-${i}`, aria-labelledBy=`collapse-${i}`)
                                                        .card-body
                                                            div !{qn.answer}
                                                if parseFloat(qn.score) < parseFloat(qn.maxscore) && qn.struct.wrongFeedback !== null && qn.struct.wrongFeedback !== ''
                                                    .card.mt-2
                                                        .card-header Question Feedback
                                                        .card-body
                                                            div.text-danger !{qn.struct.wrongFeedback}
                                                else if qn.struct.correctFeedback !== null && qn.struct.correctFeedback !== ''
                                                    .card.mt-2
                                                        .card-header Question Feedback
                                                        .card-body
                                                            div.text-success !{qn.struct.correctFeedback}
                                            when 3
                                                div !{qn.question}
                                                .card
                                                    .card-header(data-toggle="collapse", data-target=`#collapse-${i}`, aria-expanded=true, aria-controls=`collapse-${i}`) Your Answer
                                                    .collapse(id=`collapse-${i}`, aria-labelledBy=`collapse-${i}`)
                                                        .card-body
                                                            pre(class=`language-${qn.codelangcss}`)
                                                                code.incode(class=`lang-${qn.codelangcss}`) #{qn.answer}
                                                table.table-bordered.table-bordered.align-content-center.text-center.mt-2
                                                    thead
                                                        tr
                                                            th(scope="col") Total Tests
                                                            th(scope="col")
                                                                i.fa.fa-check.text-success.test-result-icon
                                                            th(scope="col")
                                                                i.fa.fa-times.text-danger.test-result-icon
                                                            th(scope="col")
                                                                i.fa.fa-exclamation-triangle.text-warning.test-result-icon
                                                    tbody
                                                        tr
                                                            td=qn.tests.total
                                                            td=qn.tests.pass
                                                            td=qn.tests.fail
                                                            td=qn.tests.error
                                            default
                                                span Unimplemented

                                    if parseFloat(qn.score) >= parseFloat(qn.maxscore)
                                        td.color-green= `${qn.score}/${qn.maxscore}`
                                    else
                                        td.color-red= `${qn.score}/${qn.maxscore}`

    // Back to Top
    button#toTopBtn(title="Back to Top")
        i.fa.fa-arrow-up
    script.
        $("#toTopBtn").click(() => {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
        $(window).on("scroll", () => {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $("#toTopBtn").css("display", "block");
            } else {
                $("#toTopBtn").css("display", "none");
            }
        });

    // Code Templating
    include ../meta/prismjs
    script.
        $(document).ready(() => {
            $('.incode').each((e) => {Prism.highlightElement($('.incode')[e]);});
            
        });

        

