extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Past Quiz Reports
    p Select a quiz from below to view your previous attempts for a quiz

    +successerror(sucmsg, errmsg)

    table#reportQuizTable.table.w-100.clickable

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            let domStr = 'rftilp';
            if (#{hasPermission('viewquizreport')}) domStr = 'Brftilp';
            table = $('#reportQuizTable').DataTable({
                ajax: '/reports/history/data',
                dom: domStr,
                buttons: [{
                    text: 'Show Managed Quizzes',
                    action: (e, dt, button) => {
                        if (table.column(6).search() === 'false') {
                            button.text('Hide Managed Quizzes');
                            table.column(6).search('').draw();
                        } else {
                            button.text('Show Managed Quizzes');
                            table.column(6).search('false').draw();
                        }
                    }
                },],
                select: 'single',
                responsive: true,
                deferRender: true,
                order: [[3, 'desc']],
                columns: [
                    {title: "Quiz", data: "quizname"},
                    {title: "Course", data: null, render: (data) => {return `[${data.coursecode}] ${data.coursename}`}},
                    {title: "Description", data: "description"},
                    {title: "Start Time", data: null, render: (data) => {return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');}},
                    {title: "End Time", data: null, render: (data) => {return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permanent';}},
                    {title: "managed", data: "managedCourse", visible: false}
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('select', (e,dt,type,indexes) => {
                let rowData = table.rows( indexes ).data().toArray()[0];
                window.location.href = `/reports/history/view/${rowData.quizid}`;
            });
            table.on('init', () => table.column(6).search('false').draw()); // Show unmanaged courses by default
            table.on('draw', () => MathJax.typesetPromise())

        });
