extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `Quiz Status: `+`[${info.code}] ${info.name}`
    p#lastUpdatedMsg= `Last updated on `+`${updatedTime}`

    +successerror(sucmsg, '')

    div#inlinepotato
    
    .row
        #accordion.col-12
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#summaryCard' aria-expanded='true' aria-controls="summaryCard")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Quiz Summary:
                #summaryCard.collapse.hide(aria-labelledby='heading-one')
                    .card-body
                        canvas#summaryChart

            .card.col-3.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-two.d-block(data-toggle='collapse' data-target='#participationRate' aria-expanded='true' aria-controls='participationRate')
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |  Number of Students that Completed the Quiz: #{studentDone}/#{totalStudents} (#{partRate}%)
                #participationRate.collapse.hide(aria-labelledby='heading-two')
                    .card-body
                        canvas#participationRateChart
    br     
    table#usersStartedTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                {
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: '',
                    autoFilter: true title: ''
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#usersStartedTable').DataTable({
                //ajax: '/courses/quizstatus',
                ajax: '#{status}',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Status", data: "status"},
                    {title: "Name", data: "fullname"},
                    {title: "Email", data: "email"},
                    {title: "Last Attempt on", data: "date"},
                    //{title: "Score", data: "score"},
                    {title: "Submitted on", data: "submitteddate"},
                    {title: "Marked on", data: "markeddate"},
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            new Chart(document.getElementById("participationRateChart"), {
                type: 'pie',
                data: {
                labels: ["Completed","Not Completed"],
                datasets: [{
                    label: "Students that Completed the Quiz",
                    backgroundColor: ["#3EA055", "#99C68E"],
                    data: [#{studentDone},#{totalStudents-studentDone}]
                    }]
                    },
                    options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Participation Rate'
                    }
                    }
                });
            
            new Chart(document.getElementById("summaryChart"), {
                type: 'bar',
                data: {
                labels: ["Not Started", "Started", "Completed"],
                datasets: [
                    {
                    label: "No. of Students",
                    backgroundColor: ["#A9A9A9", "#1E90FF","#228B22"],
                    data: [#{unstartedCount},#{startedCount},#{completedCount}]
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Quiz Summary'
                }
                }
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('##usersStartedTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });
