extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `[${info.code}] ${info.name}`
    p Select a quiz to take from the list below
    h5.text-danger.font-weight-bold Editing Mode is ON

    +successerror(sucmsg, errmsg)

    table#quizTable.table.w-100

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            let buttons = [
                {
                    text: 'Show Active Only',
                    action: (e, dt, button) => {
                        if (table.column(9).search() === 'true') { button.text('Show Active Only'); table.column(9).search('').draw();}
                        else { button.text('Show All'); table.column(9).search('true').draw(); }
                    }
                },
                {
                    text: 'Show Unstarted Only',
                    action: (e, dt, button) => {
                        if (table.column(10).search() === 'true') {
                            button.text('Show Unstarted Only');
                            table.column(10).search('').draw();
                        } else {
                            button.text('Show All');
                            table.column(10).search('true').draw();
                        }
                    }
                },
                {
                    text: 'Add Quiz',
                    action: () => {
                        window.location.href = '/course/info/#{info.id}/add';
                    }
                },
                {
                    text: 'View as Student',
                    className: 'btn-info',
                    action: () => {
                        window.location.href = '/course/info/#{info.id}?edit=0';
                    }
                }
                ];
            if (#{!hasPermission('editcourse')}) buttons.splice(1, 2);
            table = $('#quizTable').DataTable({
                ajax: '/course/info/#{info.id}/data?edit=1',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Quiz", data: 'name'},
                    {title: "Description", data: 'desc'},
                    {
                        title: "Start Time", data: null, render: (data) => {
                            return moment(new Date(data.ts)).format('DD MMMM YYYY HH:mm');
                        }
                    },
                    {
                        title: "End Time", data: null, render: (data) => {
                            return (data.te) ? moment(new Date(data.te)).format('DD MMMM YYYY HH:mm') : 'No End Date';
                        }
                    },
                    {title: "Time Limit", data: 'tl'},
                    {title: "No of Attempts", data: 'attempts'},
                    {title: "canedit", data: 'canEdit', visible: false},
                    {title: "Active", data: null, render: (data) => {
                            return (data.isActive) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                        }, visible: true},
                    //- {title: "Unstarted", data: null, render: (data) => {
                    //-         return (data.isUnstarted) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                    //-     }, visible: true},
                    {title: "ia", data: 'isActive', visible: false},
                    {title: "iu", data: 'isUnstarted', visible: false},
                    {
                        title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                            if (!data.canEdit) return 'No Actions';
                            let disStart = `/course/info/${data.courseid}/${data.id}/start`;
                            let disClass = ``;
                            if (!data.isActive) {
                                disStart = '#';
                                disClass = 'disabled';
                            }

                            return `<a href="/course/info/${data.courseid}/${data.id}/quizstatus" class="btn btn-outline-secondary mt-1" data-toggle="tooltip" title="View Status" data-placement="bottom"><i class="fa fa-eye"></i></a>` +
                                `<a href="/course/info/${data.courseid}/${data.id}/overview" class="btn btn-outline-secondary mt-1" data-toggle="tooltip" title="Edit Quiz" data-placement="bottom"><i class="fa fa-edit"></i></a>` +
                                `<a href="${disStart}" class="btn btn-outline-secondary ml-1 mt-1 ${disClass}" data-toggle="tooltip" title="Enter Quiz" data-placement="bottom"><i class="fa fa-arrow-right"></i></a>`;
                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('draw', () => MathJax.typesetPromise())
        });
