doctype html
html(lang="en")

    head
        include ../meta/header
    body.app.sidebar-mini.sidenav-toggled

        script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    
        include ../meta/navbar
        include ../meta/sidebar

        main.app-content.largepadding
            block content
        script $(document).ready(() => {$(`#nb#{route}`).toggleClass('active');});

        include ../meta/footer

