extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `Feedback Detail` 

    +successerror(sucmsg, '')

    div#inlinepotato
    
     button.btn.btn-secondary(type='button' onclick='goBack()')#btnPrevQn #[i.far.fa-chevron-left] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back

    br
    table.table.feedbackDetailTable
        tbody.feedbackDetailTable
            tr.feedbackDetailTable
                th.feedbackDetailTable Name
                td.feedbackDetailTable #{fullname}
            tr.feedbackDetailTable
                th.feedbackDetailTable Email
                td.feedbackDetailTable #{email}
            tr.feedbackDetailTable
                th.feedbackDetailTable Rating
                td#rating.feedbackDetailTable #{rating}
            tr.feedbackDetailTable
                th.feedbackDetailTable Feedback
                td.feedbackDetailTable #{feedback}


    include ../meta/datatables
    include ../meta/momentjs

    script.
       

        function goBack() {
            window.history.back();
            }
   