extends layouts/plain

block content

    html
     head
       body
        div.container.pt-5
           div.row.justify-content-center.mt-3.pt-5
            div.col-6
               div.card.rounded-10.shadow.border-0.align-items-center
                  div.card-header.bg-transparent.pb-1
                    div.text-muted.text-center.mt-2.mb-3
                     h2.text-gray-900.mb-4 Auto Assessment System
                  div.text-center.mt-2.mb-3.col-12.align-items-center
                   h3.text-gray-900.text-center.mt-1.mb-3 Sign in
                   if errLogin
                     .mt-2.alert.alert-danger(role='alert').col-lg-6.offset-3#err= errLogin
                   else
                     .mt-2
                   div.col-12.align-items-center
                    form(action='/login', method='post')
                     .form-group.col-12
                         div.form-group.mb-3
                          div.input-group.input-group-alternative
                           div.input-group-prepend
                          input#username.form-control.custom-rounded-corners(type='text', placeholder="Username", name='username', required=true, autofocus)
                     .form-group.col-12
                         input#password.form-control.custom-rounded-corners(type='password', placeholder='Password', name='password', required=true)
                     .text-center.col-12.mb-4
                         button.col-md-12.btn.btn-primary.btn-icon.custom-rounded-corners(type='submit') Login  
                   
    script.
        $(document).ready(() => {
            console.log("Hello");
            let body = $('body');
            console.log(body);
            body.addClass('login-body');
        })