html {
    scroll-behavior: smooth;
}

.custom-rounded-corners{
border-radius: 25px;
}

.index-front { /*for top nav bar*/
    z-index: 999;
}

.i[class*=fa-bars]::before{
    background:transparent !important;
}

#profileTab{
    position: absolute;
    right: 0;
}

.custom-icon{
    background: transparent !important;
    color: white;
    border: none;
}

hr {
margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-textbox {
border-radius: 5px;
border-color: #9F9F9F;
}

.display-profile-pic{
height: 220px;
width: 220px;
}

.view-btn{
background-color: #13a318;
color: #FFFFFF;
border: none;
border-radius: 5px;
}

.edit-btn{
    background-color: #07b8f0;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.delete-btn{
    background-color: #b50e0e;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.standard-btn{
width: 100px;
}

.mcqDiv{
    padding: 8px 0 8px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: rgb(231, 231, 231) solid 1px;
    background-color: rgb(250, 250, 250);
}


.mcqChoiceDiv {
    padding-top: 50px;
    padding-left: 25px;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.mcqChoice {
    display: block; 
    position: relative; 
    padding-top: 5px;
    cursor: pointer;
}

.mcqChoice input {
    display: none;
}

.mcqChoice span {
    border: 3px solid #1F8EFA; 
    color: #1F8EFA;
    width: 45px; 
    height: 45px; 
    position: absolute; 
    overflow: hidden; 
    line-height: 1; 
    text-align: center; 
    border-radius: 100%; 
    font-size: 19pt; 
    padding: 6px;
}

.mcqChoiceText{
    margin-left: 60px;
    padding-top: 10px;
    font-size: 14pt;
}

.mcqRadioBtn{
    width: 8px;
    height: 8px;
}

.mcqRadioBtn:checked + span {
    background: #1F8EFA; 
    border: #1F8EFA solid 3px;
    padding: 5px;
    font-weight: bold;
    color: #ffffff;
}

.mcqTextArea {
    width: 100%;
}

.controlDiv{
    padding-top: 10px;
    display: inline-flex;
}

#addMCQBtn {
    width: 160px;
    border: #1F8EFA 2px solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #E5E5E5;
    font-size: 12pt;
    color: #1F8EFA;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#addMCQBtn:hover {
    border: #1F8EFA 2px solid;
    color: #FFFFFF;
    background-color: #1F8EFA;
    box-shadow: 5px 3px #888888;
    cursor: pointer;
}

#addMCQBtn:focus {
    outline: none;
    box-shadow: none;
}

#removeMCQBtn {
    width: 160px;
    border: #cf2d18 2px solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #E5E5E5;
    font-size: 12pt;
    color: #cf2d18;
    margin-left: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#removeMCQBtn:hover {
    border: #d62f19 2px solid;
    color: #FFFFFF;
    background-color: #cf2d18;
    box-shadow: 5px 3px #888888;
    cursor: pointer;
}

#removeMCQBtn:focus {
    outline: none;
    box-shadow: none;
}

.chckbox {
    width:20px;
    height:20px;
    background:white;
    border-radius:8px;
    margin-top: 5px;
}

.chckboxlbl {
    padding-left: 10px;
    font-size: medium;
}

.btn-controls{
    padding-bottom: 1em;
}

.hiddenText {
    display: none;
}

.code-editor-col{
    padding: 0 !important;
}
.card-question-body{
    min-height: 210px;
}

.card-code-body{
    padding: 0 !important;
    margin:0 !important;
    background: red;
}

.pre {
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    background-color: #e7eeef;
    background-color: #ddf0f0;
    color: #0e141e;
    color: var(--color-text-dark);
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
}

.button-float-right{
    float: right;
}

#greenplaybtn{
    color: green;
}

.qnsPagination{
    padding-top: 30px;
    padding-bottom: 30px;
}

.unclickable{
    cursor: context-menu;
}

.unclickable:hover{
    color: white !important;
}

.ansSubmitted {
    background-color: #209424!important;
    color: white!important;
}

#cardDivider{
    border:none;
    height: 10px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #333;
    margin: 0 auto 5em; 
}

.dashboardDivider{
    border: 0;
    height: 2px;
    margin: 5em 0 5em 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.feedbackDetailTable th{
    background-color: #715de6;
    color: white;
}

.feedbackDetailTable tr td{
    border: #715de6 solid 1px;
}

#avgRatingChart{
    width: 300px;
    height: 215px;
}

#responseRateChart{
    width:300px !important;
    height:215px !important;
}

#avgChart{
    width: 300px;
    height: 215px;
}

#summaryChart{
    width: 300px !important;
    height: 235px !important;
}

#participationRateChart{
    width: 300px !important;
    height: 215px !important;
}