.container-fluid.p-0
    .row
        .col
            .card.mb-4
                .card-header Question
                .card-body.card-question-body !{data.question}
        .col-3.pl-0
            .card.mb-2.text-center
                .card-header Time Remaining
                if !timeLeft || timeLeft === -1
                    h3.card-body.font-weight-bold Unlimited
                else
                    h3.card-body.font-weight-bold.time-remain 00:00:00
            .card.mb-2.text-center
                .card-header Submission Counts Left
                h3.card-body#subCount
    .row
        .col
            .form-group
                label(for='answer') Answer
                textarea.form-control.rich#answer(name='structAns')= answer
    .row.mt-1
        .col
            button.btn.btn-primary.button-float-right#submitQuizQn(type="button", style="min-width: 120px;") Submit