extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Create Feedback Bank
    +successerror('', errmsg)

    form(action='/feedbacks/add', method='post', novalidate=true).needs-validation
        .form-group.required
            label(for='name') Feedback Bank Name
            input.form-control#name(type='text', placeholder='Bank Name', required=true, name='name')
            div.invalid-feedback Please fill in a Feedback Bank Name
        .form-group
            label(for='topic') Feedback Bank Topic
            input.form-control#topic(type='text', placeholder='Topic', name='topic')
            small#topicHelp.form-text.text-muted Optional
        .form-group
            label(for='purpose') Feedback Bank Purpose
            input.form-control#purpose(type='text', placeholder='Purpose', name='purpose')
            small#purposeHelp.form-text.text-muted Optional
        .form-group.required
            label(for='access') Grant Access to
            select.form-control#access(name='accessList', multiple=true, required=true)
                each ss in users
                    if (accessList.includes(ss.id))
                        option(value=ss.id, selected=true)= ss.fullname
                    else
                        option(value=ss.id)= ss.fullname
            div.invalid-feedback At least a user must be present
            small#accessHelp.form-text.text-muted Only users with the "managefeedbacks" permission will be shown here
        button.btn.btn-primary(type='submit') Create Feedback Bank
        a.btn.btn-danger.ml-2(href='/feedbacks/list') Cancel

        // Select 2
        include ../meta/select2
        include ../meta/formvalidation
