extends ../layouts/navbar
include ../components/successerrorbox
include ../components/editor
include ../components/deleteform

block content
    h1 Edit #{languages.name}
    +successerror('', errmsg)

    form(action=`/feedbacks/info/${bankid}/qninfo/${qid}/editlang/${language}`, method='post', novalidate=true).needs-validation

        .container-fluid.p-0
            .row.mt-2
                .col
                    h5 Feedback Limits
            .row
                .col
                    .form-group
                        label(for='filename') File Name
                        input.form-control#filename(type='text', placeholder='Filename', name='filename', value= languages.filename, pattern="^[a-zA-Z0-9.]+$")
                        small#filenameHelp.form-text.text-muted Leave empty to allow students to set their own filename if needed
                        div.invalid-feedback Filename must not contain spaces
            .row
                .col
                    .form-group
                        label Template
                        +codeEditor('', 1)
                        small#codeEditHelp.form-text.text-muted Mark lines with %%* and *%% to denote read-only lines
                        input.form-control#code(type='hidden', name='code')
                        script.
                            $(document).ready(() => {
                                let editor = ace.edit("codeEditor");
                                editor.getSession().on('change', () => {
                                    $('#code').val(editor.getSession().getValue());
                                });
                                setlanguage('#{languages.type}', false, '#filename');
                                editor.getSession().setValue(`!{languages.template}`);
                            });
            .row
                .col
                    .mt-2
                        button.btn.btn-primary(type='submit') Update Language
                        a.btn.btn-danger.ml-2(href=`/feedbacks/info/${bankid}/qninfo/${qid}`) Cancel
                        unless languages.isprimary
                            +deleteForm(`/feedbacks/info/${bankid}/qninfo/${qid}/dellang/${language}`, 'deleteLang', `You are about to delete the language ${languages.name} from the feedback. Are you sure you want to continue? THIS ACTION CANNOT BE REVERSED!`, 'Delete Language')

        include ../meta/richtexteditor
        include ../meta/formvalidation
        script $(() => $('[data-toggle="tooltip"]').tooltip());

