extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Confirm Import of feedbacks to #{data.name}
    +successerror(sucmsg, errmsg)
    .alert.alert-info(role='alert')= `Successfully parsed ${qnlen} feedbacks. Click Confirm to process`
    form#uploadform(action=`/feedbacks/info/${data.id}/importcfm`, method='post').text-center
        input#rediskey(type='hidden', name='cachekey', value=`${dataCache}`)
        button.btn.btn-primary(type='submit') Confirm
        a.btn.btn-danger.ml-3(role='button', href=`/feedbacks/info/${data.id}`) Cancel

    h2.mt-5 First 10 feedbacks being imported
    table.table.text-center
        thead
            tr
                th(scope='col') #
                th(scope='col') Feedback Name
                th(scope='col') Type
        tbody
            each cell, cellNum in qns
                if cellNum < 10
                    tr
                        th(scope='row')= cellNum + 1
                        td !{cell.name}
                        td.text-capitalize= cell.type