extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Import Feedbacks to #{data.name}
    p Use this page to import an existing feedback JSON file you have previously exported from the application
    +successerror(sucmsg, errmsg)
    if dataerror
        .alert.alert-danger(role='alert')= `Import completed with errors adding ${dataerror.length} users`
    if datasuccess
        .alert.alert-success(role='alert') Successfully imported users!
    form#uploadform(action=`/feedbacks/info/${data.id}/import`, method='post', enctype='multipart/form-data')
        .form-group.input-group
            .custom-file
                input#importer(type='file', name='importqn', required=true, accept='application/json').custom-file-input
                label(for="importer").custom-file-label Upload Feedbacks JSON file
        small#importerHelp.form-text.text-muted You can drag and drop the file into the field to upload
        .mt-3
            button.btn.btn-primary(type='submit') Import Feedbacks
            a.btn.btn-danger.ml-2(href=`/feedbacks/info/${data.id}`) Cancel
    include ../meta/customfileinput