extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= data.name
    p= `Topic: ${data.topic}`
    h5= data.purpose
    +successerror(sucmsg, errmsg)

    table#courseTable.table.w-100.clickable

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let table;
            let buttons = [
                {
                    extend: 'collection',
                    text: 'Add Feedback',
                    buttons: [
                        {text: 'Multiple Choice', action: () => {window.location.href = `/feedbacks/info/#{data.id}/add/mcq`}},
                        {text: 'Structured', action: () => {window.location.href = `/feedbacks/info/#{data.id}/add/structured`}},
                        {text: 'Code', action: () => {window.location.href = `/feedbacks/info/#{data.id}/add/code`}},
                        {text: 'Math (WIP)', action: () => {window.location.href = `/feedbacks/info/#{data.id}/add/math`}, enabled: false}
                    ]
                },
                {
                    text: 'Import',
                    action: () => {
                        window.location.href = `/feedbacks/info/#{data.id}/import`
                    }
                },
                {
                    text: 'Export',
                    action: () => {window.location.href = `/feedbacks/info/#{data.id}/export`}
                },
                {
                    text: 'Go Back',
                    action: () => {
                        window.location.href = `/feedbacks/list`
                    }
                }

                ];
            table = $('#courseTable').DataTable({
                ajax: '/feedbacks/info/#{data.id}/data',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                select: 'single',
                columns: [
                    { title: "#", data: 'pos'},
                    { title: "Feedback", data: 'name'},
                    { title: "Type", data: 'type'},
                    { title: "Difficulty", data: null, render: (data) => {
                            return (data.difficulty) ? data.difficulty : "-";
                    }},
                    { title: "Score", data: 'score'},
                    { title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        width: "150px",
                        render: (data) => {
                            let btn = `<a href="/feedbacks/info/#{data.id}/edit/${data.id}" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit Feedback" data-placement="bottom"><i class="fa fa-edit"></i></a>`;
                            if (data.pos > 1) btn += `<a href="/feedbacks/info/#{data.id}/reorder/${data.id}/${data.pos}/${data.pos - 1}" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="Move Up" data-placement="bottom"><i class="fa fa-arrow-up"></i></a>`;
                            if (data.pos < data.size) btn += `<a href="/feedbacks/info/#{data.id}/reorder/${data.id}/${data.pos}/${data.pos + 1}" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="Move Down" data-placement="bottom"><i class="fa fa-arrow-down"></i></a>`;
                            return btn;
                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('draw', () => MathJax.typesetPromise());
            table.on('select', (e, dt, type, indexes) => {
                let rowData = table.rows(indexes).data().toArray()[0];
                window.location.href = `/feedbacks/info/#{data.id}/qninfo/${rowData.id}`;
            });
        });
