extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 View Feedback (#{data.name})
    +successerror(sucmsg, errmsg)
    .btn-group.mb-2
        a.btn.btn-secondary(href=`/feedbacks/info/${data.feedbackbankid}`) Go Back
        if permToEdit===true
            a.btn.btn-warning(href=`/feedbacks/info/${data.feedbackbankid}/edit/${data.id}?red=qninfo`) Edit Feedback
        else
            span.d-inline-block(tabindex='0' data-toggle='tooltip' title='Only the author can edit the feedback')
                button.btn.btn-warning(style='pointer-events: none;' type='button' disabled='') Edit Feedback
            a.btn.btn-warning(href=`/feedbacks/info/${data.feedbackbankid}/clone/${data.id}?red=qninfo` data-toggle='tooltip' data-placement='top' title='Clone this feedback to edit it' ) Clone Feedback

    .container-fluid.p-0
        .row
            .col.pr-0
                .card.mb-4
                    .card-header Feedback
                    .card-body !{data.feedback}
            .col-3.pl-0
                case data.type
                    when 1
                        include type/listoptmcq
                    when 2
                        include type/listoptstruct
                    when 3
                        include type/listoptcode

        // 1 - MCQ
        // 2 - Short Structured
        // 3 - Code
        case data.type
            when 1
                include type/listmcq
            when 2
                include type/liststruct
            when 3
                include type/listcode