extends ../layouts/navbar
include ../components/successerrorbox
include ../components/editor
include ../components/loading

block content
    h1 Test Code Feedback (#{data.name})
    a.btn.btn-secondary.mb-2(href=`/feedbacks/info/${data.feedbackbankid}/qninfo/${data.id}`) Go Back
    +successerror(sucmsg, errmsg)

    include attempts/code
