extends ../layouts/navbar
include ../components/successerrorbox
include ../components/inputlengthvalidation

block content
    h1= `Editing Notification Frequency`
    +successerror(sucmsg, errmsg)
    form(action=`/notification/edit/${user.id}`, method='post', novalidate=true).needs-validation
        .form-group.required
            label(for='username') Username
            input.form-control#username(type='text', placeholder='Username', required=true, name='username', value=user.username, pattern="[^' ']+", disabled=true, maxlength=32)
            div.invalid-feedback Please fill in a valid username
        .form-group.required
            label(for='emailfreq') Email Frequency
            select.form-control#emailfreq(required=true, name='emailfreq')
                option(hidden=true, disabled=true, selected=true, value="") Select a role
                each role in cronschedule
                    if (role.id !== null)
                        option(value=role.id, selected=true)= role.cronfreq
                    else
                        option(value=role.id)= role.cronfreq
            div.invalid-feedback Please select the user's role in the system
              unless (user.username === loginUsername)
        .form-group.required
            button.btn.btn-primary(type='submit') Update Frequency
            a.btn.btn-danger.ml-2(href='/changepassword') Cancel
        include ../meta/formvalidation
        +lengthvalidation('#username')