extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Notification Frequency
    p Note that you will only be able to view and edit your own notification frequency

    +successerror(sucmsg, '')

    div#inlinepotato

    table#userTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/notification/userdata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Username", data: "username"},
                    {title: "Email Trigger", data: "emailfreq"},
                    {
                        title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                          
                            if (#{!hasPermission('edituser')} && #{!hasPermission('disableuser')}) {
                                return 'No Actions';
                                
                            }
                          
                            let buttons = '';
                            if (#{hasPermission('edituser')})
                                buttons += `<a href="/notification/edit/${data.id}" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit User" data-placement="bottom"><i class="fa fa-user-edit"></i></a>`;
                          
                            return buttons;
                        },
                    }
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });
