//- will not output within markup


extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `Analytics Of All Quizzes` 


    +successerror(sucmsg, '')

    div#inlinepotato

    br
    br
    .row
        #accordion.col-12
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#avgRatingCard' aria-expanded='true' aria-controls="avgRatingCard")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Quiz Average Score: #{avgscore}/100.0 
                #avgRatingCard.collapse.hide(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#responseRateChart  
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#avgRatingCard' aria-expanded='true' aria-controls="avgRatingCard")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Feedback Average Rating: #{avgRating}/5.0 
                #avgRatingCard.collapse.hide(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#avgRatingChart
           
    
    table#feedbackTable.table.w-100.clickable

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let buttons = [{
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: '',
                    autoFilter: true
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
            
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                ];
            let table = $('#feedbackTable').DataTable({
                ajax: '/analytics/ratingcountdata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                select: 'single',
                deferRender: true,
                columns: [
                    { title: "Name", width:'15%', data: 'username'},
                    { title: "Email", width:'25%', data: 'email'},
                    { title: "Rating", width:'20%', data: 'rating'},
                    { title: "Feedback", width:'40%', data: 'feedback'},
                ],
                columnDefs: [ {
                targets: 3,
                render: function ( data, type, row ) {
                return data.length > 50 ?
                    data.substr( 0, 50 ) +'…' :
                    data;
            }
            } ]
            });
        
          

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            //- $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            //- table.on('select', (e,dt,type,indexes) => {
            //-     let rowData = table.rows( indexes ).data().toArray()[0];
            //-     window.location.href = `/analytics/ratingcountdatagraph`;
            
            //- });
          
        });
    script.
        var colors = [];
         while (colors.length < 100) {
         do {
          var color = Math.floor((Math.random() * 1000000) + 1);
         } while (colors.indexOf(color) >= 0);
         colors.push("#" + ("000000" + color.toString(16)).slice(-6));
        }
        function range(start, end) {
        return Array(end - start + 1).fill().map((_, idx) => start + idx)
        }
        var count = ["10","20","30","40","50","60","70","80","90","100"]; // [1......., 100]
        var star = range(1, 5); // [1......., 100]
        var star = star.map(i => i + '-stars' );

        new Chart(document.getElementById("avgRatingChart"), {
            type: 'pie',
            data: {
            labels: star,
            datasets: [
                {
                label: "No. of Responses",
                backgroundColor: colors,
              
                data: [#{ratingOne},#{ratingTwo},#{ratingThree},#{ratingFour},#{ratingFive}]
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: { display: false },
            title: {
                display: true,
                text: ''
            }
            }
        });
   
        new Chart(document.getElementById("responseRateChart"), {
        type: 'line',
        data: {
        labels: count,
        datasets: [{
            label: "Quiz Average Score",
            backgroundColor: colors,
            data: [
            #{score0},#{score1},#{score2},#{score3},#{score4},#{score5},#{score6},#{score7},#{score8},#{score9},
           
            
            
            
            
            
            
            
            ]
            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
        });

     
