//- will not output within markup


extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 List Rating Count By Quiz

    +successerror(sucmsg, '')

    div#inlinepotato

    table#userTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                {
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: '',
                    autoFilter: true 
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/analytics/ratingcountbyquizdata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                                         {title: "QuizID", data: "quizid"},
                      {title: "Rating", data: "rating"},
                    {title: "Count", data: "count"},
                  


               
                ]
            });
                  table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });
    