//- will not output within markup


extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Commonly found keyword in feedbacks
    
    +successerror(sucmsg, '')

    div#inlinepotato

    table#userTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                {
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: '',
                    autoFilter: true
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/analytics/keyworddata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Value", data: "value"},
                     {title: "Total", data: "total"},

               
                ]
            });
                  table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });


//- doctype html
//- html(lang='en')
//-  head
//-    meta(charset="utf-8")
//-    meta(name="viewport",content="width=device-width,initial-scale=1")
//-    title(Google Visualisation API)
//-    style
//-       include styles.css
//-    script.
//-      var doNotTrack = false;if (!doNotTrack) { window.ga=window.ga||function(){(ga.q=ga.q| []).push(arguments)};ga.l=+new Date; ga('create', 'UA-131728687-1', 'auto'); ga('send', 'pageview');}
//-    script(src='https://www.google-analytics.com/analytics.js')
//-    script(src="https://www.gstatic.com/charts/loader.js")
//-    script.
//-       google.charts.load('current', {'packages':['wordtree']});
//-       google.charts.setOnLoadCallback(drawChart);
//-        var data = google.visualization.arrayToDataTable(
//-           [ ['Phrases'],
//-             ['cats are better than dogs'],
//-             ['cats eat kibble'],
//-             ['cats are better than hamsters'],
//-             ['cats are awesome'],
//-             ['cats are people too'],
//-             ['cats eat mice'],
//-             ['cats meowing'],
//-             ['cats in the cradle'],
//-             ['cats eat mice'],
//-             ['cats in the cradle lyrics'],
//-             ['cats eat kibble'],
//-             ['cats for adoption'],
//-             ['cats are family'],
//-             ['cats eat mice'],
//-             ['cats are better than kittens'],
//-             ['cats are evil'],
//-             ['cats are weird'],
//-             ['cats eat mice'],
//-           ]
//-         );
//-         var options = {
//-           wordtree: {
//-             format: 'implicit',
//-             word: 'cats'
//-           }
//-         };
//-         var chart = new google.visualization.WordTree(document.getElementById('mvChart'));
//-         chart.draw(data, options);
//-       }
   
//-  body
//-    div.header
   
//-      div.content
//-        header
//-          h1 Google Visualisation API
//-          div.post-meta
//-            p [#{(new Date()).toLocaleDateString()}]
//-        article
//-          div#mvChart
//-          div#kChart
   

//- Ail