//- will not output within markup

extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 All Users Login Information

    +successerror(sucmsg, '')

    div#inlinepotato

    br
    br
    .row
        #accordion.col-12
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card4' aria-expanded='true' aria-controls="Card4")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Past 5 Years Login Count
                #Card4.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart4
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header 
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card5' aria-expanded='true' aria-controls="Card5")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Past 12 Months Login Count
                #Card5.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart5
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse'   data-target='#Card6' aria-expanded='true' aria-controls="Car6")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Past 14 Days Login Count 
                #Card6.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart6 
    .row
        #accordion.col-12
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card1' aria-expanded='true' aria-controls="Card1")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Semester 1 Login Count
                #Card1.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart1
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header 
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card2' aria-expanded='true' aria-controls="Card2")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Semester 2 Login Count
                #Card2.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart2  
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse'   data-target='#Card3' aria-expanded='true' aria-controls="Card3")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Login Time on Application
                #Card3.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart3 
    .row
        #accordion.col-12
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card7' aria-expanded='true' aria-controls="Card7")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Hours Spend On Application
                #Card7.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart7
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header 
                    a#heading-one.d-block(data-toggle='collapse' data-target='#Card8' aria-expanded='true' aria-controls="Card8")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |             Login Count By Day Of Week
                #Card8.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart8  
            .card.col-4.float-left(style='padding: 0; border-radius: 15px;')
                h5.card-header
                    a#heading-one.d-block(data-toggle='collapse'   data-target='#Card9' aria-expanded='true' aria-controls="Card9")
                        i#collapseShowBtn.fa.fa-chevron-down.float-right
                        |            Login Count Base On Parts Of The Day
                #Card9.collapse.show(aria-labelledby='heading-one', max-height='20px;')
                    .card-body(style='height: 300px;')
                        canvas#Chart9 
    
    table#feedbackTable.table.w-100.clickable
    table#userTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let buttons = [
                {
                    extend: 'print',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    filename: 'userlist',
                    title: '',
                    autoFilter: true,
                },
                {
                    extend: 'csvHtml5',
                    filename: 'userlist'
                },
                {
                    extend: 'pdfHtml5',
                    filename: 'userlist',
                    orientation: 'landscape',
                    pageSize: 'A1',
                    title: `Exported User List - ${new Date().toISOString()}`
                },
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/analytics/loginactivitydata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Username", data: "username"},
                   
                     {title: "IP Address", data: "ip"},
                   
                     {title: "Login Timestamp", data: "logintimestamp"},
                     {title: "Logout Timestamp", data: "logouttimestamp"},
                      {title: "Country", data: "country"},
                      
                
                
                
                
                
                
                
                
                
                
                
                ]
            });
                  table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });
    script.
         var colors = [];
         while (colors.length < 100) {
         do {
          var color = Math.floor((Math.random() * 1000000) + 1);
         } while (colors.indexOf(color) >= 0);
         colors.push("#" + ("000000" + color.toString(16)).slice(-6));
        }
        const currentYear = (new Date()).getFullYear();
        const range = (start, stop, step) => Array.from({ length: (stop - start) / step + 1}, (_, i) => start + (i * step));
        const apple = (range(currentYear, currentYear - 4, -1)); 
        // [2019, 2018, 2017, 2016, ..., 1969]
        //- const day0 = Date.now().subtract(0, "day")
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const dayNames = ["Sun","Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        const partOfDayNames = ["Morning","Afternoon", "Night", "Midnight"];

        const today = new Date();
        let d;
        let month;
        let monthyear;
        let monthyeararray = [];
        let monthyeararrayreverse = [];
        for(var i = 6; i > -1; i -= 1) {
        d = new Date(today.getFullYear(), today.getMonth() - i, 1);
        month = monthNames[d.getMonth()];
        year = d.getFullYear()
        monthyear = (month + " "+ year);
        monthyeararray.push(monthyear)
        }
        monthyeararrayreverse = monthyeararray.reverse();

       let timer = ["12am", "1am", "2am", "3am","4am", "5am", "6am", "7am"
       ,"8am", "9am", "10am", "11am","12pm", "1pm", "2pm", "3pm","4pm", "5pm", "6pm", "7pm",
       "8pm", "9pm", "10pm", "11pm"]

        let hrtimecount = Array.from(Array(25).keys())



        let sem1 = ["Aug", "Oct", "Nov", "Dec"]
        let sem2 = ["Jan", "Feb", "Mar", "Apr"]

        let day = ["27-Dec-1998", "26-Dec", "25-Dec", "24-Dec", "23-Dec", "22-Dec", "21-Dec", "20-Dec", "19-Dec", "18-Dec", "17-Dec", "16-Dec","15-Dec","14-Dec"]
        function formatDate(date){

        var dd = date.getDate();    
        var mm = date.getMonth()+1;
        var yyyy = date.getFullYear();
        if(dd<10) {dd='0'+dd}
        if(mm<10) {mm='0'+mm}
        date = dd+'/'+mm+'/'+yyyy;
        return date
         }

        var dates = Array.apply(null, new Array(14))
        .map(function() {
         return new Date();
        })
        .map(function(v, i) {
         v.setDate(v.getDate() - i);
         return v;
        })
        .map(function(v) {
         return formatDate(v);
         })
        .reverse()
        //- .join(',');

        console.log(dates);
        new Chart(document.getElementById("Chart4"), {
            
            type: 'bar',
            data: {
            labels: apple,
            datasets: [
                {
                //- label: "Past 5 Years Login Count",
                label: "",
                backgroundColor: colors,
                    data:  [#{year1},#{year2},#{year3},#{year4},#{year5}],

             
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: { display: false },
            title: {
                display: true,
                text: 'No. of Logins'
            }
            }
        });
   
        new Chart(document.getElementById("Chart5"), {
        type: 'line',
        data: {
        labels: monthyeararray,
        datasets: [{
            //- label: "Past 12 Months Login Count",
            label: "",

            backgroundColor: colors,

            data: [#{month1},#{month2},#{month3},#{month4},#{month5},#{month6},#{month7},#{month8},#{month9},#{month10},#{month11},#{month12}]

            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
        });

     new Chart(document.getElementById("Chart6"), {
    
        type: 'line',
        data: {
        labels: dates,
        datasets: [{
            //- label: "Past 14 Days Login Count",
            label: "",

            backgroundColor: colors,

         data: [#{day1},#{day2},#{day3},#{day4},#{day5},#{day6},#{day7},#{day8},#{day9},#{day10},#{day11},#{day12},#{day13},#{day14}]
           
            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,

            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
            
        });

        
     new Chart(document.getElementById("Chart1"), {
        type: 'bar',
        data: {
        labels: sem1,
      
        datasets: [{
            //- label: "Semester 1 Login Count",
            label: "",

            backgroundColor: colors,

            data: [#{sem1aug},#{sem1sep},#{sem1oct},#{sem1nov}]

            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
        });

     new Chart(document.getElementById("Chart2"), {
        type: 'bar',
        data: {
        labels: sem2,
        datasets: [{
            //- label: "Semester 2 Login Count",
            label: "",

            backgroundColor: colors,

            data: [#{sem2jan},#{sem2feb},#{sem2mar},#{sem2apr}]

            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
        });
     new Chart(document.getElementById("Chart3"), {
        type: 'line',
        data: {
        labels: timer,
        datasets: [{
            //- label: "Login Time On Application",
            label: "",

            backgroundColor: colors,

            data: [#{hrspent0},#{hrspent1},#{hrspent2},#{hrspent3},#{hrspent4},#{hrspent5},#{hrspent6},#{hrspent7},#{hrspent8}
            ,#{hrspent9},#{hrspent10},#{hrspent11} ,#{hrspent12},#{hrspent13},#{hrspent14} ,#{hrspent15},#{hrspent16},#{hrspent17} 
            ,#{hrspent18},#{hrspent19},#{hrspent20} ,#{hrspent21},#{hrspent22},#{hrspent23},]

            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Feedback Rate'
            }
            }
        }); 

    
      new Chart(document.getElementById("Chart7"), {
            
            type: 'line',
            data: {
            labels: hrtimecount,
            datasets: [
                {
                //- label: "Hours Spend On Application",
                label: "",

                backgroundColor: colors,
                     data: [#{hrspenthr0},#{hrspenthr1},#{hrspenthr2},#{hrspenthr3},#{hrspenthr4},#{hrspenthr5},#{hrspenthr6},#{hrspenthr7},#{hrspenthr8}
            ,#{hrspenthr9},#{hrspenthr10},#{hrspenthr11} ,#{hrspenthr12},#{hrspenthr13},#{hrspenthr14} ,#{hrspenthr15},#{hrspenthr16},#{hrspenthr17} 
            ,#{hrspenthr18},#{hrspenthr19},#{hrspenthr20} ,#{hrspenthr21},#{hrspenthr22},#{hrspenthr23} ,#{hrspenthr24},]



             
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: { display: false },
            title: {
                display: true,
                text: 'No. of Logins'
            }
            }
        });
   
     new Chart(document.getElementById("Chart8"), {
            
            type: 'bar',
            data: {
            labels: dayNames,
            datasets: [
                {
                //- label: "Login Count By Day Of Week",
                label: "",

                backgroundColor: colors,
                    data:  [#{dayofweek1},#{dayofweek2},#{dayofweek3},#{dayofweek4},#{dayofweek5},#{dayofweek6},#{dayofweek7},],

             
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: { display: false },
            title: {
                display: true,
                text: 'No. of Logins'
            }
            }
        });
   
     new Chart(document.getElementById("Chart9"), {
            
            type: 'pie',
            data: {
            labels: partOfDayNames,
            datasets: [
                {
                //- label: "Login Count Base On Parts Of The Day",
                label: "",

                backgroundColor: colors,
                    data:  [#{morning},#{afternoon},#{night},#{midnight}],

             
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: { display: false },
            title: {
                display: true,
                text: 'No. of Logins'
            }
            }
        });
   