body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}
h1,h2,h3{line-height:1.2}
div.header h1{padding-top:0;padding-bottom:8px;margin-bottom:24px;font-size:18px;font-weight:400;border-bottom:1px solid}.header-menu{float:right}
div.mvChart{width:800;height:600}
div.kChart{width:800;height:600}
ul.pagination{list-style-type:none;text-align:center;padding:0}
ul.pagination>li{padding:0 8px;display:inline-block}
div.footer{border-top:1px solid;text-align:center}