extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Settings

    h2 Change Password
    +successerror(sucmsg, errmsg)
     div#inlinepotato
    form(action='/changepassword', method='post', novalidate=true).needs-validation
        .form-group
            label(for='username') Username
            input.form-control#username(type='text', placeholder='Username', required=true, name='username', disabled=true, value=`${username}`)
            div.invalid-feedback Please fill in a username
        .form-group.required
            label(for='oldpw') Old Password
            input.form-control#oldpw(type='password', placeholder='Password', required=true, name='password')
            div.invalid-feedback Invalid Password
        .form-group.required
            label(for='newpw') New Password
            input.form-control#newpw(type='password', placeholder='Password', required=true, pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+*!=]).{8,}", name='newpw')
            small.form-text.text-muted Min 8 characters, and must have an upper and lowercase character, number and symbol
            div.invalid-feedback Please make sure your password is at least 8 characters, and contain at least an upper and lowercase character, number and symbol
        .form-group.required
            label(for='cfmpw') Repeat New Password
            input.form-control#cfmpw(type='password', placeholder='Password', required=true)
            small.form-text.text-muted Make sure it matches what you type above
            div.invalid-feedback Passwords do not match!
        button.btn.btn-primary(type='submit') Change Password
         script.
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    let forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);

                let cfmpw = $('#cfmpw');
                $('#newpw, #cfmpw').on('keyup', function () {
                    if ($('#newpw').val() === cfmpw.val()) {
                        cfmpw.removeClass('is-invalid');
                        cfmpw[0].setCustomValidity('');
                    } else {
                        cfmpw.addClass('is-invalid');
                        cfmpw[0].setCustomValidity('Password must match');
                    }
                });
            })();

    h1 &nbsp;&nbsp;
    h2 Notification Frequency
    p Note that you will only be able to view and edit your own notification frequency

    table#userTable.table.w-100
    
    include ../meta/datatables
    
    script.
        $(document).ready(() => {
            let buttons = [
                
                ];
            if (#{!hasPermission('adduser')}) buttons.splice(5, 2);
            let table = $('#userTable').DataTable({
                ajax: '/notification/userdata',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                deferRender: true,
                columns: [
                    {title: "Username", data: "username"},
                    {title: "Email Trigger", data: "emailfreq"},
                    {
                        title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                          
                            if (#{!hasPermission('edituser')} && #{!hasPermission('disableuser')}) {
                                return 'No Actions';
                                
                            }
                          
                            let buttons = '';
                            if (#{hasPermission('edituser')})
                                buttons += `<a href="/notification/edit/${data.id}" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit Frequency" data-placement="bottom"><i class="fa fa-user-edit"></i></a>`;
                          
                            return buttons;
                        },
                    }
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $('#userTable tbody').on('click', 'button.content-disentoggle', (e) => {
                let row = table.row(e.target.closest('tr')).data();
                $.ajax({
                    async: true,
                    url: `/users/toggledisable/${row.id}`,
                    method: 'PATCH',
                    success: (data) => {
                        console.log(data);
                        $('body [data-toggle=tooltip]').tooltip('hide');
                        showDismissableAlert('alert-success', `Successfully ${data.disabled ? "disabled" : "enabled"} user ${data.name}`);
                        table.ajax.reload();
                    },
                    error: (xhr, status, e) => {
                        showDismissableAlert('alert-danger', `An error occurred processing this request (${e})`);
                    }
                });
            });
        });

  
       