extends ../layouts/navbar
include ../components/loading

block content
    .text-center
        h1 Marking quiz
        p Currently marking your quiz attempt. Please wait...
        +loading("Retrieving results...")
    script.
        function poll() {
            let loadingBar = $('#loadingtext');
            $.ajax({
                url: '/attempt/#{attemptid}/genstatus',
                dataType: 'json',
                async: true,
                success: (data) => {
                    loadingBar.text(data.statusMsg);
                    if (data.status === 4) setTimeout(() => window.location.href = '/reports/view/#{attemptid}/reportSA', 100); // Redirect accordingly
                    else if (data.status !== 3) setTimeout(() => window.location.href = '/course/info/#{cid}/#{qid}/start?errorattempt=1', 100); // Redirect accordingly
                    else setTimeout(poll,1000);
                }
            })
        }
        $(document).ready(() => {poll();});
