extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Create Question Bank
    +successerror('', errmsg)

    form(action='/questions/add', method='post', novalidate=true).needs-validation
        .form-group.required
            label(for='name') Question Bank Name
            input.form-control#name(type='text', placeholder='Bank Name', required=true, name='name')
            div.invalid-feedback Please fill in a Question Bank Name
        .form-group
            label(for='topic') Question Bank Topic
            input.form-control#topic(type='text', placeholder='Topic', name='topic')
            small#topicHelp.form-text.text-muted Optional
        .form-group
            label(for='purpose') Question Bank Purpose
            input.form-control#purpose(type='text', placeholder='Purpose', name='purpose')
            small#purposeHelp.form-text.text-muted Optional
        .form-group.required
            label(for='access') Grant Access to
            select.form-control#access(name='accessList', multiple=true, required=true)
                each ss in users
                    if (accessList.includes(ss.id))
                        option(value=ss.id, selected=true)= ss.fullname
                    else
                        option(value=ss.id)= ss.fullname
            div.invalid-feedback At least a user must be present
            small#accessHelp.form-text.text-muted Only users with the "managequestions" permission will be shown here
        button.btn.btn-primary(type='submit') Create Question Bank
        a.btn.btn-danger.ml-2(href='/questions/list') Cancel

        // Select 2
        include ../meta/select2
        include ../meta/formvalidation
