extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `Export Questions from ${data.name}`
    p Select one or more questions to export to JSON
    +successerror(sucmsg, errmsg)

    table#courseTable.table.w-100

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let table;
            let buttons = [
                {
                    text: 'Export',
                    enabled: false,
                    action: () => {
                        let selData = table.rows({ selected: true }).toArray()[0];
                        let inData = [];
                        for (let i of selData) {let rowData = table.rows(i).data().toArray()[0];inData.push(rowData.id);}
                        $.ajax({
                            url: `/questions/info/#{data.id}/export`,
                            type: 'post',
                            dataType: 'json',
                            data: {qid:inData},
                            async: true,
                            success: (obj) => {
                                $(`<a href="data:text/json;charset=utf-8,${encodeURIComponent(JSON.stringify(obj, null, 2))}" download="exportedqns-#{data.id}.json">download JSON</a>`)
                                    .appendTo('body').click((e) => e.currentTarget.remove())[0].click();
                            }
                        });
                    }
                },
                {
                    text: 'Go Back',
                    action: () => window.location.href = `/questions/info/#{data.id}`
                }
                ];
            table = $('#courseTable').DataTable({
                ajax: '/questions/info/#{data.id}/data',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                select: 'os',
                deferRender: true,
                columns: [
                    { title: "#", data: 'pos'},
                    { title: "Question", data: 'name'},
                    { title: "Type", data: 'type'},
                    { title: "Score", data: 'score'}
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('draw', () => MathJax.typesetPromise())
            table.on('select deselect', function () {
                let selectedRows = table.rows({selected: true}).count();
                table.button(0).enable(selectedRows > 0);
            });
        });
